:root {
  --color-light-accent: #bf7e96;
  --color-dark-accent: #59362e;
  --color-main: #d9d2d0;
  --color-light-shade: #bfa5a3;
  --color-dark-shade: #0d0d0d;

  font-size: 16px;
}

body {
  background-color: var(--color-main);
  color: var(--color-dark-shade);
  font-family: "Inter", sans-serif;
}

.card {
  margin: 4rem auto;
  max-width: 24rem;
  min-width: 18rem;
  border: 0.1rem solid var(--color-dark-shade);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}

.todo-card__header {
  background-color: var(--color-light-shade);
  color: var(--color-main);
  padding-top: 1rem;
  border-bottom: 0.1rem solid var(--color-dark-shade);
  text-align: center;
}

.todo-card__header h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.todo-input {
  margin: 1rem auto 0;
  width: 75%;
}

.display-todos-btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.todo-item__text {
  padding: 0.5rem;
}

.todo-item__edit-icon {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.todo-item__edit-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.todo-item__remove-icon {
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.todo-item__remove-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}