:root {
  --color-light-accent: #bf7e96;
  --color-dark-accent: #59362e;
  --color-main: #d9d2d0;
  --color-light-shade: #bfa5a3;
  --color-dark-shade: #0d0d0d;

  font-size: 16px;
}

body {
  background-color: var(--color-main);
  color: var(--color-dark-shade);
  font-family: "Inter", sans-serif;
}

.card {
  margin: 4rem auto;
  max-width: 24rem;
  min-width: 18rem;
  border: 0.1rem solid var(--color-dark-shade);
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.3);
}

.todo-card__header {
  background-color: var(--color-light-shade);
  color: var(--color-main);
  padding-top: 1rem;
  border-bottom: 0.1rem solid var(--color-dark-shade);
  text-align: center;
}

.todo-card__header h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

.display-todos-btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.todo-item__text {
  padding: 0.5rem;
}

.todo-item__edit-icon {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.todo-item__edit-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.todo-item__remove-icon {
  margin-left: 0.7rem;
  transition: transform 0.2s ease-in-out;
}

.todo-item__remove-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.todo-item__toggle-completed {
  appearance: none;
  min-width: 1.25rem;
  height: 1.25rem;
  border: 0.1rem solid var(--color-dark-shade);
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
}

.todo-item__toggle-completed:checked {
  background-color: var(--color-light-accent);
  border-color: var(--color-light-accent);
}

.todo-item__toggle-completed:checked::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-main);
  font-size: 14px;
}

.todo-card__toggle-all {
  color: white;
  width: 8rem;
  margin: 0 auto 1rem;
  background: linear-gradient(to bottom right, #28a745, #20c997);
  border: none;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.todo-card__toggle-all:hover {
  color: white;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}

.todo-card__toggle-all:active {
  color: white !important;
  transform: translateY(0.05rem);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 0.1rem solid var(--color-dark-shade);
}

.todo-input {
  margin: 0.5rem auto 0.5rem;
  width: 75%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.todo-input:focus {
  outline: none;
  border: 0.1rem solid var(--color-light-accent);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}

.nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-item>a:hover {
  transform: translateY(-0.1rem);
  cursor: pointer;
  color: var(--color-main);
  background-color: var(--color-dark-accent);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.nav-item>a:active {
  transform: translateY(0.05rem);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.nav-item>a.active {
  border-bottom: 0.2rem solid var(--color-dark-shade);
  transform: translateY(-0.1rem);
}